<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.sys.dao.RoleDao">

    <select id="queryPage" resultType="com.mod.sys.entity.vo.RoleVO">
        select role_id roleId,role_name roleName,role_state roleState,remark
        from sys_role
        <where>
            <if test="dto.roleName !=null and dto.roleName != ''">AND role_name LIKE CONCAT('%',#{roleName},'%')</if>
        </where>
    </select>
    <select id="getRoleUrl" resultType="com.mod.sys.entity.bo.UrlRoleBO">
        SELECT sm.`url` url,sr.`role_code` roleCode
        FROM `sys_permission_menu` spm
        INNER JOIN `sys_menu` sm ON spm.menu_id=sm.`menu_id`
        INNER JOIN `sys_permission` sp ON sp.`permission_id`=spm.`permission_id`
        LEFT JOIN `sys_role_permission` srp ON sp.`permission_id`=srp.`permission_id`
        LEFT JOIN `sys_role` sr ON srp.`role_id`=sr.`role_id`

    </select>
    <select id="getUserRole" resultType="com.mod.sys.entity.vo.RoleVO">
        SELECT sr.`role_code` roleCode,sr.`role_name` roleName
        FROM `sys_role` sr
        INNER JOIN `sys_role_user` sru ON sr.`role_id`=sru.`role_id`
        WHERE sr.`role_state`=1 AND sru.`is_deleted`=0 AND sru.`user_id`=#{userId}
    </select>
</mapper>
